**/__pycache__
**/.vscode
**/venv
**/.idea
**/.ipynb_checkpoints

/images/*
/images_original/*
/training_images/*
!/training_images/readme.md
!/training_images/training_data_provider.py

# keep model weights and progress.gif but ignore all images for gif creation
/gan/models/*
/gan/models/**/images/

!/gan/models/mnist/
!/gan/models/faces/
