**/__pycache__
**/.vscode
**/venv
**/.idea

/images/*
/images_original/*

/gan/models*/*
/gan/results*/*

# keep the DCGAN progress gif
!/gan/models/dcgan
/gan/models/dcgan/*
!/gan/models/dcgan/progress.gif