**/__pycache__
**/.vscode
**/venv
**/.idea

/images/*
/images_original/*
/training_images/*
!/training_images/readme.md
!/training_images/training_data_provider.py

/gan/models*/*
/gan/results*/*

# keep the DCGAN progress gif
!/gan/models/dcgan
/gan/models/dcgan/*
!/gan/models/dcgan/progress.gif

# keep the HR-DCGAN progress gif
!/gan/models/hr_dcgan
/gan/models/hr_dcgan/*
!/gan/models/hr_dcgan/progress.gif